body {
    width:350px;
    min-height:475px;
    font-family:"Helvetica Neue", "Lucida Grande", sans-serif;
    font-size:14px;
    margin:10px;
    position:relative;
}

body, h1, h2, h3, h4, h5, h6 {
    font-weight:100;
}

h1, h2, h3#headline {
    text-align:center;
}

a {
    color:black;
}

div#forecasts p {
    margin:0;
}

div.today {
    text-align:center;
    font-size:1.3em;
}

div.futureDay {
    font-size:0.9em;
    float:left;
    padding:5px;
    width:22.1%;
}

div.today, div.futureDay {
    position:relative;
}

div.today a, div.futureDay a {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
}

body.day div.today img.night {
    display:none;
}

body.night div.today img.day {
    display:none;
}

div.futureDay img.night {
    display:none;
}

div.today img {
    height:100px;
}

div.futureDay img {
    height:50px;
}

div.today div.tempRange span {
    margin:0 5px;
}

div.futureDay div.tempRange span {
    margin:0 5px 0 0;
}

div.tempRange span.max {
    font-weight:400;
}

p#providedBy {
    text-align:center;
    font-size:0.8em;
}

p#providedBy a {
    opacity:0.8;
    text-decoration:none;
}

div#containerUnit {
    position:absolute;
    top:0;
    right:0;
}

div#containerUnit span {
    font-size:0.8em;
}

div.switch {
    display:inline-block;
    position:relative;
    width:20px;
    height:10px;
}

div.switch input {
    display:none;
}

div.switch label {
    cursor:pointer;
}

div.switch label, div.switch label:before, div.switch label:after {
    border-radius:60px;
}

div.switch label:before, div.switch label:after {
    content:"";
    position:absolute;
}

div.switch label:before {
    width:100%;
    height:100%;
    top:0;
    left:0;
    border:1px solid #ff9838;
}

div.switch label:after {
    background:#ff9838;
    width:6px;
    height:6px;
    left:0;
    top:3px;
    margin-left:13px;
}

div.switch label:after, div#containerUnit span {
    transition:all 0.5s;
}

div.switch input:checked + label:after {
    margin-left:3px;
}

body span#celsius {
    color:black;
}

body span#fahrenheit {
    color:#ff9838;
}

body.celsius span#celsius {
    color:#ff9838;
}

body.celsius span#fahrenheit {
    color:black;
}